<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Funcionários</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
        <h1>Dados do funcionario da empresa</h1>
        <form th:action="@{/salvar}" th:object="${perfil}" method="post">
            <input type="hidden" th:field="*{id}">
            <label>Nome do Funcionário:</label>
            <input type="text" th:field="*{nome}">
            <br/><br/>
            <label>Cargo do funcionario:</label>
            <input type="text" name="cargo" th:field="*{cargo}">
            <br/><br/>
            <label>Departamento do Funcionario:</label>
            <input type="text" name="departamento" th:field="*{departamento}">
            <br/><br/>
            <label>Email do Funcionario</label>
            <input type="email" name="email" th:field="*{email}">
            <br/><br/>
            <label>Data de Contratacao:</label>
            <input type="date" name="data_contratacao" th:field="*{dataContratacao}">
            <br/><br/>
            <button type="submit">Salvar funcionario</button>
        </form>
        </main>
    </body>
</html>
